/*
--------------------------------------------
CSS Created by Adrien de Bosset
--------------------------------------------
*/


/* 
--------------------------------------------
Commun CSS 
--------------------------------------------
*/
html,body{background:#ECECEC;font-family:'Raleway',sans-serif}
ol,ul,dl{margin:0;padding:0;list-style-type:none}
.wrapper{position:relative;max-width:1200px;width:100%;margin:auto;overflow-x:hidden}
.listes-archives{background:#FFF}
.clear{clear:both}
.large{font-size:18px}
.full-width{width:100%}
header.home{height:700px;width:100%;background:url(../img/bkg-home-1.jpg) no-repeat center bottom fixed;-webkit-background-size:cover;-moz-background-size:cover;-o-background-size:cover;background-size:cover}
/* 
--------------------------------------------
NavBar 
--------------------------------------------
*/
#navbar{position:relative;left:187px}
.navbar{margin-bottom:0;border-radius:0;background:#fff;padding:5px 0;min-height:70px;background:#E3473E;-webkit-transition:all .4s ease-in-out;-moz-transition:all .4s ease-in-out;-o-transition:all .4s ease-in-out;transition:all .4s ease-in-out;padding-top:10px;padding-bottom:10px}
.navbar li a{color:#FFF}
.navbar li:hover a{color:#E3473E;background:#fff}
.img-responsive{max-width:100%}
.navbar-brand,.navbar .nav{padding:5px 0;height:auto}
.navbar-brand{position:fixed;top:30px}
.navbar-brand img{max-width:200px}
.navbar-fixed-top .navbar-brand{position:relative;top:0}
.navbar{padding-top:25px;padding-bottom:25px}
.icon-bar{background:#FFF}
.navbar-fixed-top{padding-top:4px!important;padding-bottom:0!important}
.navbar-fixed-top .navbar-nav{margin-left:-120px}
.navbar-fixed-top{right:0;left:0;margin-right:auto;margin-left:auto;max-width:1200px;width:100%}
/* 
--------------------------------------------
Footer 
--------------------------------------------
*/
.subfooter{background-color:#fafafa;border-top:1px solid #f3f3f3;border-bottom:1px solid #f3f3f3;padding:40px 0}
.section{background-color:#FFFCFC;padding:47px 0;color:#333}
.list-icons{padding:0;margin:20px 0;list-style:none;font-size:18px}
.social-links{padding:0;list-style:none;margin:15px 0}
.listes-archives{padding:80px 0;margin-top:72px}
.listes-archives article{border:3px solid #FAFAFA;margin-bottom:20px}
/* 
--------------------------------------------
Archive 
--------------------------------------------
*/
.archive-thumbail{width:100%;overflow:hidden}
.archive-thumbail img{max-width: 100%;/*width: 400px;*/margin: auto;}
.archive-description{background-color:#FFF;padding:15px}
.archive-description h1{min-height:98px}
.archive-description h1:before{content:'';display:inline-block;background:#E3473E;width:5px;height:40px;margin-right:5px}
.archive-description h2{font-size:12px;margin:0}
.archive-description h2:after{margin-top:13px}
.archive-description a{text-decoration:none;border-bottom:1px solid transparent;color:#8E8A8A}
.archive-description a:hover{text-decoration:none;color:#E3473E;border-bottom:1px solid #E3473E}
.archive-description a.suite{background:#FFF;padding:8px;color:#fff;display:block;border-left:1px solid #E3473E;color:#E3473E}
/* 
--------------------------------------------
Footer 
--------------------------------------------
*/
.footer_top{overflow:hidden;padding:130px 0;border-bottom:1px solid #0F0F0F;background:none repeat scroll 0 0 #333;color:#AAA}
.footer_b{background:#222;border-top:1px solid #555}
.footer_menu li a:before{display:inline-block;margin-right:8px;color:#5B5B5B;content:"";font-family:FontAwesome}
.menu_head{color:#E3473E!important;font-weight:700;font-size:18px;line-height:24px;margin:15px 0 35px}
.menu_head:after{position:absolute;left:18px;width:55px;height:1px;content:"";top:49px}
.menu_head:before{position:absolute;left:32px;width:24px;height:5px;content:"";display:inline-block;top:47px}
.footer_mid ul li{margin-top:20px}
.footer_menu ul li a{text-decoration:none;color:#9E9E9E;display:inline-block;padding:5px 0}
.footer_menu_contact ul li{padding:5px 0}
.footer_menu_contact li i{width:20px}
.footer_menu_contact li span:hover{cursor:pointer}
.footer_social{padding:20px 0}
.footer_social i{width:50px;height:50px;padding:14px;color:#fff;font-size:25px;border-radius:3px}
.footer_bottom p{font-size:12px;color:#C4C4C4;margin:25px 0}
.footer_menu ul li a:hover{color:#E3473E}
.social-contact li i{color:#555;width:30px;height:30px;padding:5px 0 5px 7px;border:1px solid#555;border-radius:2px;line-height:15px}
.form-icon{position:absolute;right:0;color:#DDD;top:10px}
/* 
--------------------------------------------
Slider Bootstrap 
--------------------------------------------
*/
.carousel-caption{position:absolute;top:0;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-webkit-flex;display:flex;-webkit-box-align:center;-moz-box-align:center;-ms-flex-align:center;-webkit-align-items:center;align-items:center;height:100%}
.carousel-caption h3{text-shadow:none!important;font-size:55px;display:inline-block;background:#E3473E;padding:10px}
.carousel-caption a{display:inline-block;color:#fff;background:#E3473E;padding:5px;-webkit-transition:all .3s ease-in-out;-moz-transition:all .3s ease-in-out;-o-transition:all .3s ease-in-out;transition:all .3s ease-in-out;}
.carousel-caption a:hover{background:#333;text-decoration:none;}
/* 
--------------------------------------------
Media Query 
--------------------------------------------
*/
@media only screen and (max-width : 992px) {
	header.home{height:300px}
}
@media only screen and (max-width : 768px) {
	header.home{height:250px}
	#navbar{position:relative;left:0}
	.carousel-caption h3{font-size:23px}
	.footer_top{padding:20px 0}
	.archive-description h1 {min-height: 48px;font-size: 26px;}
	.navbar-fixed-top .navbar-nav {margin-left:0;margin-right:0;}
}
@media only screen and (max-width : 480px) {
	header.home{height:150px}
}